@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <a href="https://tioraclab.com/" target="_blank"><img src="https://tioraclab.com/wp-content/themes/tioraclab/images/logo-tiorac.png" alt="Logo do TioRAC Lab" class="logo" /></a>
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
